@{
    ViewBag.Title = "About";
}

<h1>About</h1>

<p>This is a basic proxy web page for viewing images blocked by the McAfee proxy.  The primary use is for stack.imgur.com image links from the StackOverflow network.</p>
