@{
    ViewBag.Title = "Home Page";
}
<form id="proxy-form" class="form-horizontal" method="POST">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="url">URL</label>
            <div class="col-md-4">
                <input id="url" name="url" type="url" class="form-control input-md">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <button id="view-url" name="view-url" class="btn btn-success" onclick="$('#proxy-form').attr('action', '/Home/ViewFile')">View</button>
                <button id="download-url" name="download-url" class="btn btn-primary" onclick="$('#proxy-form').attr('action', '/Home/DownloadFile')">Download</button>
            </div>
        </div>
    </fieldset>
</form>